a {
    text-align: center;
    margin-top: 0px;
}
.center {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 98vh;
    font-size: 60px;
}
body {
    background-color: black;
    color: white;
    text-align: center;
    overflow: hidden;
    font-family: "Lucida Console", "Courier New", monospace;
}
